
body {
    font-family: Arial, sans-serif;
    background-color: rgb(1, 33, 23); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background: url('rainbow1.jpg') no-repeat center center;
    background-size: cover;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 320px; 
    position: relative;
}

.brand-name {
    font-size: smaller; 
    font-family: 'Pacifico', cursive; 
    color: #FFD700; 
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
    position: absolute;
    top: 5px; 
    left: 20px; 
}

.display {
    width: 100%;
    padding: 15px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box; 
    white-space: pre-line;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons input[type="button"] {
    padding: 20px; 
    border: none;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
}

.buttons input[type="button"].yellow,
.buttons input[type="button"].orange,
.buttons input[type="button"].green {
    color: black; 
}

.buttons input[type="button"]:hover {
    opacity: 0.8;
}

/* Rainbow Colors */
.red { background-color: #FF0000; }
.orange { background-color: #FFA500; }
.yellow { background-color: #FFFF00; } 
.green { background-color: #008000; }
.blue { background-color: #0000FF; }
.indigo { background-color: #4B0082; }
.violet { background-color: #EE82EE; }

.laugh-button {
    grid-column: span 4;
    font-family: 'Pacifico', cursive;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #66ccff;
    color: black; 
    font-size: 0.6em;
    cursor: pointer;
    margin-top: 10px;
}

.laugh-button:hover {
    background-color: #99ddff;
}
